@mixin text-font {font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@mixin font-title {font-family: 'Shrikhand', cursive;}


@mixin imgage-size {
         
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 15px 15px 0 0;
}

@mixin image-size_menu {


    width: 100%;
    height: 300px;
    object-fit: cover;
    
    


}

@mixin screen {
overflow-x: hidden;
max-width: 480px

}

@mixin background-color {
background-color: $background-color;
}

@mixin bloc {
margin-left: 15px;
margin-right: 15px;
background-color: white;
padding: 0px;
padding-bottom: 10px;
border-radius: 15px;
margin-bottom: 15px;
}

@mixin header {
display: flex;  
flex-direction: row;  
justify-content: center;

margin-bottom: 0px;
padding-top: 15px;
padding-bottom: 15px;

}
@mixin header_menu {
       .header {
    
    display: flex;  
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
   
}

    
    }
@mixin logo {
height: 35px;
width: 175px;

}

@mixin location {
display: flex;  
justify-content: center;
background-color: $background-color2;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15%;

.form-research {
    width: 50%;
}

#name {
   
background-color: $background-color2;
border: none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
font-weight: 500;
width: 65%;


}
i {
    display: flex;
    align-self: center;
    margin-right: 2%;
}
}

@mixin page {
display: flex;  
flex-direction: column;    
justify-content: center;
margin-left: 20%;
margin-right: 20%;
}


@mixin font-body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin font-title {
    font-size: 22px;
    text-align: center;

}

@mixin font-subtitle {
    font-size: 20px;
    margin-left: 15px;

}

@mixin subtitle {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

@mixin button {
    display: flex;
    justify-content: center;
}

@mixin em {
 
    padding-left: 15px;

    em {
        font-size: 17px;
    font-weight: 600;
    font-style:normal;}
}

@mixin footer {
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    color:white;
    padding-bottom: 15px;
    
    a {
        text-decoration: none;
        color:white;
    }

    li {
    list-style-type: none;
}
h4 {
    font-size: 17px;
    font-family: 'Shrikhand', cursive;
    margin-bottom: 0px;
    padding-left: 40px;
}

.fa-hands-helping {
    margin-right: 6px;
}
.fa-utensils {
    margin-right: 12px;
}
}

@mixin style-button {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background: rgb(248,128,215);
background: $gradient;
    border-radius: 30px;
    border:none;

}

@mixin fonctionnement {
    
       
         
        font-weight: 500;
        font-size: 17px;

        .presentation {
            margin-left: 20px;
        }

        p {
            border:none;
            border-radius: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 25px;
            padding-bottom: 25px;
            width:80%;
            background-color: #f2f2f2;
        }

i {
    color:$footer-color;
    margin-right: 10px;
    margin-left: 10px;
}

        .filtre {
            display: flex;
            flex-direction: row;
            margin-bottom: 0px;
        }
@include number_un;
@include number_deux;
@include number_trois
    }
    
    
@mixin number_un {

    #un {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: $primary-color;
        color: white;
        padding-bottom: 2.5px;
        padding-top: 2.5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 50%;
        position: relative;
        left: 10px;
        z-index: 2;

       
    
    }
}

@mixin number_deux {
    #deux {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: $primary-color;
        color: white;
        padding-bottom: 2.5px;
        padding-top: 2.5px;
        padding-right: 9px;
        padding-left: 9px;
        border-radius: 50%;
        position: relative;
        left: 10px;
        z-index: 2;

    }
}
    @mixin number_trois {
       #trois {
        display: flex;
        flex-direction: column;
        align-self: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: $primary-color;
        color: white;
        padding-bottom: 2.5px;
        padding-top: 2.5px;
        padding-right: 9px;
        padding-left: 9px;
        border-radius: 50%;
        position: relative;
        left: 10px;
        z-index: 2;

       }
    }

    @mixin heart {
        .heart {
display: flex;     
justify-content: flex-end;
align-self: center;
margin-right: 20px;
width: 5%;
padding: 1px;
margin-left: 90%;
border: none;

  }
  
    }

@mixin hover {
    .fa-heart:hover {
cursor: pointer;
background:-webkit-linear-gradient(180deg, rgba(248,128,215,1) 6%, rgba(194,72,221,1) 100%);
}

.filtre:hover {
    cursor: pointer;
    i {color:$primary-color;} 
}
.filtre:hover p {
    filter: brightness(95%);
    box-shadow: $box-shadow_filtre;

}

button:hover {
cursor: pointer;
filter: brightness(1.15);
box-shadow: $box-shadow_filtre; 


}
}

@mixin back {
background-color: white;

    a {
       display: flex;
       flex-direction: row;
       align-self: center;
       justify-content: flex-start;
 text-decoration: none;
        color: black;
        position: relative;
        left: -23%;

}

.logo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    width: 175px;
  

}
}


    @mixin nouveau {
        .nouveau {
        
           
            border: 1px solid black;
            color:white;
            background-color: $tertiary-color;
        }
    }


    @mixin main-menu_header {

      

        display: flex;
        flex-direction: row;
        
        position: relative;
        bottom: 2rem;
        z-index: 3;

       
       background-color: $background-color;
       border-top-left-radius:35px ;
       border-top-right-radius:35px ;

        h1 {       
             width: 75%;
            font-family: 'Shrikhand', cursive;
            font-size: 25px;
}
      i{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
         width: 20%;
          font-size: 25px;
      }
        
    
        
    }

    @mixin list_menu {
     display: flex;
     flex-direction: row;
     justify-items: center;


        background-color: white;
        width: 100%;
        border: 0px;
        
        border-radius: 15px;
        padding: 0px;
        margin-bottom: 10px;
       
       

    }

    @mixin menu-layout {

        max-width: 100%;
        padding-left: 10px;
        padding-right: 15px;
     
        .category-menu {
            font-size: 20px;
            font-weight: lighter;
            font-variant: small-caps ;
            width: 10%;
                border-bottom: 4px solid $tertiary-color;
            
            }

            .menu-list_title {
                font-size: 19px;
                font-weight: 500;
  text-overflow: ellipsis;

            }

            p {
                width: 20rem;
                padding-left: 10px;
     text-overflow: ellipsis;

            }

            em, .background-icon {
               display: flex;
               flex-direction: row;
               justify-content: flex-end;
               align-items: center;
                font-weight: 500;
                font-style: normal;
                width: 20%;
            }
    }


@mixin button_menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    background: rgb(248,128,215);
background: $gradient;
    border-radius: 30px;
    border:none;
    padding-right: 50px;
    padding-left: 50px;
}

    @mixin box {
        overflow-x:hidden;
       
    }

    @mixin nouveau {
       .home-restaurants .nouveau {
            position: relative ;
            bottom:13rem;
            left: 35%;
            border:2px solid $tertiary-color;
            background-color: $tertiary-color;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            color:#496d63;
        }
        
        .nouveau2 {

            position: relative ;
            bottom:13rem;
            left: 45%;
            border:2px solid $tertiary-color;
            background-color: $tertiary-color;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            color:#496d63;
        }
    }
    

@mixin hover_menu {

   
       
           
        .fa-check-circle{
            color: white;
            margin-right: 20px;
    
    }

    
        .menu-list:hover{

            cursor: pointer;
   .background-icon {
        background-color: $tertiary-color;
border-radius: 0px 15px 15px 0px;
padding: 10px;
position: relative;
right: -19%;
margin-left: 10px;
transform: translateX(-75%);
transition: ease-in-out 400ms;


    

    .fa-check-circle {
       
        transform: rotate(360deg) translateX(-5%);
        transition: ease-in 400ms;
        visibility: visible;
        cursor: pointer;
        color: white;
        background-color: transparent;
        
        padding-right: 0px;

      


    }


    .menu-list{
        padding: 0px;
    }
}}}