@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');


$primary-color:#9356dc;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$background-color: #F2F2F2;
$footer-color:#2c2929;
$gradient:linear-gradient(176deg, rgba(248,128,215,1) 54%, rgba(194,72,221,1) 100%);





