@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
body {
  background-color: #F2F2F2;
  overflow-x: hidden;
  max-width: 480px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  margin: auto;
}

body .fa-heart:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(180deg, #f880d7 6%, #c248dd 100%);
}

body .filtre:hover {
  cursor: pointer;
}

body .filtre:hover i {
  color: #9356dc;
}

body .filtre:hover p {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
}

body button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
}

body h1 {
  font-size: 22px;
  text-align: center;
}

body h2 {
  font-size: 20px;
  margin-left: 15px;
}

body h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

body .home-titrerestaurants {
  background-color: #F2F2F2;
}

body .home-titrerestaurants .home-restaurants .nouveau {
  position: relative;
  bottom: 13rem;
  left: 35%;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #496d63;
}

body .home-titrerestaurants .nouveau2 {
  position: relative;
  bottom: 13rem;
  left: 45%;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: #496d63;
}

body .home-restaurants {
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  padding: 0px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

body .home-restaurants .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
  width: 5%;
  padding: 1px;
  margin-left: 90%;
  border: none;
}

body .home-restaurants .fa-heart:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(180deg, #f880d7 6%, #c248dd 100%);
}

body .home-restaurants .filtre:hover {
  cursor: pointer;
}

body .home-restaurants .filtre:hover i {
  color: #9356dc;
}

body .home-restaurants .filtre:hover p {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
}

body .home-restaurants button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 6px 15px 4px rgba(0, 0, 0, 0.19);
}

body .home-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e4e4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
}

body .home-location .form-research {
  width: 50%;
}

body .home-location #name {
  background-color: #e6e4e4;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 65%;
}

body .home-location i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 2%;
}

body .home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

body .image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

body .image_menu {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}

body header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: black;
  position: relative;
  left: -23%;
}

body header .logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 175px;
}

body .logo {
  height: 35px;
  width: 175px;
}

body .logo2 {
  background-color: white;
}

body .logo2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: black;
  position: relative;
  left: -23%;
}

body .logo2 .logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 175px;
}

body .rechercher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

body .__sous-bloc {
  padding-left: 15px;
}

body .__sous-bloc em {
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2929;
  color: white;
  padding-bottom: 15px;
}

body footer a {
  text-decoration: none;
  color: white;
}

body footer li {
  list-style-type: none;
}

body footer h4 {
  font-size: 17px;
  font-family: 'Shrikhand', cursive;
  margin-bottom: 0px;
  padding-left: 40px;
}

body footer .fa-hands-helping {
  margin-right: 6px;
}

body footer .fa-utensils {
  margin-right: 12px;
}

body .button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  background: #f880d7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #f880d7), to(#c248dd));
  background: linear-gradient(180deg, #f880d7 6%, #c248dd 100%);
  border-radius: 30px;
  border: none;
}

body .home-fonctionnement {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 17px;
}

body .home-fonctionnement .presentation {
  margin-left: 20px;
}

body .home-fonctionnement p {
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 80%;
  background-color: #f2f2f2;
}

body .home-fonctionnement i {
  color: #2c2929;
  margin-right: 10px;
  margin-left: 10px;
}

body .home-fonctionnement .filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

body .home-fonctionnement #un {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9356dc;
  color: white;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  z-index: 2;
}

body .home-fonctionnement #deux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9356dc;
  color: white;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  z-index: 2;
}

body .home-fonctionnement #trois {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #9356dc;
  color: white;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  z-index: 2;
}

.container_1 {
  overflow-x: hidden;
}

.menu-layout {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 15px;
}

.menu-layout .category-menu {
  font-size: 20px;
  font-weight: lighter;
  font-variant: small-caps;
  width: 10%;
  border-bottom: 4px solid #99E2D0;
}

.menu-layout .menu-list_title {
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.menu-layout p {
  width: 20rem;
  padding-left: 10px;
  font-size: 11.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-layout em, .menu-layout .background-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-style: normal;
  width: 20%;
}

.menu-layout .fa-check-circle {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-layout .menu-list:hover {
  cursor: pointer;
}

.menu-layout .menu-list:hover .background-icon {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  padding: 10px;
  position: relative;
  right: -19%;
  margin-left: 10px;
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.menu-layout .menu-list:hover .background-icon .fa-check-circle {
  -webkit-transform: rotate(360deg) translateX(-5%);
          transform: rotate(360deg) translateX(-5%);
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
  visibility: visible;
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding-right: 0px;
}

.menu-layout .menu-list:hover .background-icon .menu-list {
  padding: 0px;
}

.main-menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  bottom: 2rem;
  z-index: 3;
  background-color: #F2F2F2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.main-menu_header h1 {
  width: 75%;
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
}

.main-menu_header i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  font-size: 25px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  background-color: white;
  width: 100%;
  border: 0px;
  border-radius: 15px;
  padding: 0px;
  margin-bottom: 10px;
}

.button-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
  margin-bottom: 25%;
}

.button_menu {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  background: #f880d7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #f880d7), to(#c248dd));
  background: linear-gradient(180deg, #f880d7 6%, #c248dd 100%);
  border-radius: 30px;
  border: none;
  padding-right: 50px;
  padding-left: 50px;
}

.header {
  background-color: white;
}

.header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: black;
  position: relative;
  left: -23%;
}

.header .logo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 175px;
}
/*# sourceMappingURL=main.css.map */