@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');


@import'./variables';
@import'./mixin';



body {
background-color: $background-color;
@include screen;
@include font-body;
@include hover;
@include box;
margin: auto;




h1 {
    @include font-title;
}

h2 {
    @include font-subtitle;
}

h3 {
    @include subtitle;
}
.home-titrerestaurants {
    @include background-color;
}


.home-restaurants {
    @include bloc;
@include heart;
@include hover;
    
}

.home-location {
    @include location;
padding-top: 15px;
padding-bottom: 15px;
}

.home-title {
    @include page;
}
.image {
    @include imgage-size;
}

.image_menu {
    @include image-size_menu;
}

header {
   @include header;
    @include  back;

}

.header {
 
    @include header_menu;
    @include  back;

}

  .logo {
        @include logo;
    }


    .rechercher {
        @include button;
        padding-bottom: 40px;

        
    }


    .__sous-bloc {
        @include em;
    }

    footer {
        @include footer;
    }

    .button{

    
        @include style-button;
    }

    .home-fonctionnement {
        background-color: white;
        padding-top: 15px;
        padding-bottom: 25px;

        @include fonctionnement
    }


    
  
}

.container_1 {
    @include box;
    


    
    
   
    
}

.menu-layout {
  
   @include menu-layout
}

.main-menu_header {
    @include main-menu_header;
}

.menu-list {
    @include list_menu;
}

.button-menu {
    @include button;
    margin-top: 10%;
    margin-bottom: 25%;
}

.button_menu {
    @include button_menu;
}